<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Clover TouchID.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F956FB3E1BEBDA2F00540F0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F956FB521BEBDA3000540F0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F956FB5D1BEBDA3000540F0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
