{% extends 'layouts/base.html' %}
  ​{% block content %}
    {% set active_page = 'home' %}



      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Welcome, Clover Family!</h1>
        <p class="text-center">You can log into this site using TouchID.</p>
        <p class="text-center"><a class="btn btn-lg btn-success" href="/login" role="button">Login</a>

      </div>
      </div>

   
      <!-- Example row of columns -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

{% endblock content %}