{% extends 'layouts/base.html' %}
  ​{% block content %}
    ​
    <div class="container">
        <div class="header clearfix">
            <h3 class="text-muted">Authenticator Project 2B</h3>
        </div>
        ​
        <div class="jumbotron">
            <h1>Register</h1>
            <center>
                <div id="qrcode"></div>
            </center>
        </div>

        ​
    </div>
    <!-- /container -->
    <script type="text/javascript">
        var getCode;
        var checks = 0;
        var getQR = function() {
            $("#qrcode").empty();
            $.get("http://localhost:5000/login/get_code", function(data) {
                //new QRCode(document.getElementById("qrcode"), data);
                getCode = data;
                setTimeout(check_code, 1000);
                $("#qrcode").replaceWith("<h1>" + data + "</h1>");
            });
        }

        getQR();


        var check_code = function() {
                var code = getCode;
                checks += 1;
                $.post("http://localhost:5000/login/get_cookie", {
                    'one_time_code': code
                }, function(data) {
                    if (data == "successful login") {
                        alert(data);
                        location.href = "http://localhost:5000/logged_in";
                    } else {
                        if (checks < 28)
                            setTimeout(check_code, 1500);
                        else
                        {
                            checks = 0;
                            setTimeout(getQR, 1000);
                        }
                    }
                });
            }
    </script>
{% endblock content %}