{% extends 'layouts/base.html' %}
  ​{% block content %}
  {% set active_page = 'portal' %}
        ​
        <div class="jumbotron">
        {% if session.get("logged_in") and session.get("username") %}
            <h1 class="text-center">Hello {{session.get("username")}}</h1>
        {% else %}
             <h1 class="text-center">Error</h1>
             <p class="text-center"> Please log in to continue </p>
        {% endif %}
        </div>

        
        ​ ​

        ​
    </div>
{% endblock content %}